/* Coolors Exported Palette - https://coolors.co/4f39fe-474ad1-7150bb-d94eb6-ff62ad */

// /* CSS HEX */
// --han-purple: #4F39FEff;
// --iris: #474AD1ff;
// --royal-purple: #7150BBff;
// --frostbite: #D94EB6ff;
// --hot-pink: #FF62ADff;

// /* CSS HSL */
// --han-purple: hsla(247, 99%, 61%, 1);
// --iris: hsla(239, 60%, 55%, 1);
// --royal-purple: hsla(259, 44%, 52%, 1);
// --frostbite: hsla(315, 65%, 58%, 1);
// --hot-pink: hsla(331, 100%, 69%, 1);

/* SCSS HEX */
$han-purple: #4F39FEff;
$iris: #474AD1ff;
$royal-purple: #7150BBff;
$frostbite: #D94EB6ff;
$hot-pink: #FF62ADff;

/* SCSS HSL */
$han-purple: hsla(247, 99%, 61%, 1);
$iris: hsla(239, 60%, 55%, 1);
$royal-purple: hsla(259, 44%, 52%, 1);
$frostbite: hsla(315, 65%, 58%, 1);
$hot-pink: hsla(331, 100%, 69%, 1);

/* SCSS RGB */
$han-purple: rgba(79, 57, 254, 1);
$iris: rgba(71, 74, 209, 1);
$royal-purple: rgba(113, 80, 187, 1);
$frostbite: rgba(217, 78, 182, 1);
$hot-pink: rgba(255, 98, 173, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-right: linear-gradient(90deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-bottom: linear-gradient(180deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-left: linear-gradient(270deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-top-right: linear-gradient(45deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-bottom-right: linear-gradient(135deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-top-left: linear-gradient(225deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-bottom-left: linear-gradient(315deg, #4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);
$gradient-radial: radial-gradient(#4F39FEff, #474AD1ff, #7150BBff, #D94EB6ff, #FF62ADff);